
*.lock
*.db
*.vsidx
*.dll
*.db-shm
*.db-wal
*.opendb
*.target
*.exe
*.exp
*.lib
*.pdb
*.modules
Content/Old/Common/background_ipad.uasset
Content/Old/Common/BidBubble/east_bid.uasset
Content/Old/Common/BidBubble/north_bid.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/bid_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/bid_off.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/control_bid_bubble.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/minus_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/minus_off.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/pass_bid.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/pass_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/pass_off.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/plus_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/plus_off.uasset
Content/Old/Common/BidBubble/south_bid.uasset
Content/Old/Common/BidBubble/west_bid.uasset
Content/Old/Common/Loading/load_landscape.uasset
Content/Old/Common/Loading/load_suit_rotation.uasset
Content/Old/Common/Loading/loading.uasset
Content/Old/Common/Loading/steele_logo_plate.uasset
Content/Old/Common/MainMenu/new_game_down.uasset
Content/Old/Common/MainMenu/new_game_off.uasset
Content/Old/Common/MainMenu/new_game_on.uasset
Content/Old/Common/MainMenu/options_down.uasset
Content/Old/Common/MainMenu/options_off.uasset
Content/Old/Common/MainMenu/options_on.uasset
Content/Old/Common/MainMenu/resume_down.uasset
Content/Old/Common/MainMenu/resume_off.uasset
Content/Old/Common/MainMenu/resume_on.uasset
Content/Old/Common/MeldBubble/east_meld.uasset
Content/Old/Common/MeldBubble/north_meld.uasset
Content/Old/Common/MeldBubble/south_meld.uasset
Content/Old/Common/MeldBubble/west_meld.uasset
Content/Old/Common/menu_ipad_down.uasset
Content/Old/Common/menu_ipad_off.uasset
Content/Old/Common/Numbers/0.uasset
Content/Old/Common/Numbers/1.uasset
Content/Old/Common/Numbers/2.uasset
Content/Old/Common/Numbers/3.uasset
Content/Old/Common/Numbers/4.uasset
Content/Old/Common/Numbers/5.uasset
Content/Old/Common/Numbers/6.uasset
Content/Old/Common/Numbers/7.uasset
Content/Old/Common/Numbers/8.uasset
Content/Old/Common/Numbers/9.uasset
Content/Old/Common/Numbers/left_parenthesis.uasset
Content/Old/Common/Numbers/right_parenthesis.uasset
Content/Old/Common/suit_rotation.uasset
Content/Old/Common/TrumpSelectBubble/clubs_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/clubs_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/clubs_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/diamonds_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/diamonds_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/diamonds_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/hearts_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/hearts_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/hearts_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/spades_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/spades_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/spades_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/trump_selection_bubble.uasset
Content/Old/tablet/Background/background_droid.uasset
Content/Old/tablet/Background/background_fire.uasset
Content/Old/tablet/Background/background_ipad.uasset
Content/Old/tablet/Background/menu_droid_down.uasset
Content/Old/tablet/Background/menu_droid_off.uasset
Content/Old/tablet/Background/menu_fire_down.uasset
Content/Old/tablet/Background/menu_fire_off.uasset
Content/Old/tablet/Background/menu_ipad_down.uasset
Content/Old/tablet/Background/menu_ipad_off.uasset
Content/Old/tablet/Background/suit_rotation.uasset
Content/Old/tablet/BCBubble/bid_down.uasset
Content/Old/tablet/BCBubble/bid_off.uasset
Content/Old/tablet/BCBubble/control_bid_bubble.uasset
Content/Old/tablet/BCBubble/minus_down.uasset
Content/Old/tablet/BCBubble/minus_off.uasset
Content/Old/tablet/BCBubble/pass_down.uasset
Content/Old/tablet/BCBubble/pass_off.uasset
Content/Old/tablet/BCBubble/plus_down.uasset
Content/Old/tablet/BCBubble/plus_off.uasset
Content/Old/tablet/BCBubble/result/Texture_0.uasset
Content/Old/tablet/BidBubble/east_bid.uasset
Content/Old/tablet/BidBubble/east_meld.uasset
Content/Old/tablet/BidBubble/north_bid.uasset
Content/Old/tablet/BidBubble/north_meld.uasset
Content/Old/tablet/BidBubble/pass_bid.uasset
Content/Old/tablet/BidBubble/south_bid.uasset
Content/Old/tablet/BidBubble/south_meld.uasset
Content/Old/tablet/BidBubble/west_bid.uasset
Content/Old/tablet/BidBubble/west_meld.uasset
Content/Old/tablet/Cards/10_clubs.uasset
Content/Old/tablet/Cards/10_clubsm.uasset
Content/Old/tablet/Cards/10_diamonds.uasset
Content/Old/tablet/Cards/10_diamondsm.uasset
Content/Old/tablet/Cards/10_hearts.uasset
Content/Old/tablet/Cards/10_heartsm.uasset
Content/Old/tablet/Cards/10_spades.uasset
Content/Old/tablet/Cards/10_spadesm.uasset
Content/Old/tablet/Cards/ace_clubs.uasset
Content/Old/tablet/Cards/ace_clubsm.uasset
Content/Old/tablet/Cards/ace_diamonds.uasset
Content/Old/tablet/Cards/ace_diamondsm.uasset
Content/Old/tablet/Cards/ace_hearts.uasset
Content/Old/tablet/Cards/ace_heartsm.uasset
Content/Old/tablet/Cards/ace_spades.uasset
Content/Old/tablet/Cards/ace_spadesm.uasset
Content/Old/tablet/Cards/card_back.uasset
Content/Old/tablet/Cards/jack_clubs.uasset
Content/Old/tablet/Cards/jack_clubsm.uasset
Content/Old/tablet/Cards/jack_diamonds.uasset
Content/Old/tablet/Cards/jack_diamondsm.uasset
Content/Old/tablet/Cards/jack_hearts.uasset
Content/Old/tablet/Cards/jack_heartsm.uasset
Content/Old/tablet/Cards/jack_spades.uasset
Content/Old/tablet/Cards/jack_spadesm.uasset
Content/Old/tablet/Cards/king_clubs.uasset
Content/Old/tablet/Cards/king_clubsm.uasset
Content/Old/tablet/Cards/king_diamonds.uasset
Content/Old/tablet/Cards/king_diamondsm.uasset
Content/Old/tablet/Cards/king_hearts.uasset
Content/Old/tablet/Cards/king_heartsm.uasset
Content/Old/tablet/Cards/king_spades.uasset
Content/Old/tablet/Cards/king_spadesm.uasset
Content/Old/tablet/Cards/queen_clubs.uasset
Content/Old/tablet/Cards/queen_clubsm.uasset
Content/Old/tablet/Cards/queen_diamonds.uasset
Content/Old/tablet/Cards/queen_diamondsm.uasset
Content/Old/tablet/Cards/queen_hearts.uasset
Content/Old/tablet/Cards/queen_heartsm.uasset
Content/Old/tablet/Cards/queen_spades.uasset
Content/Old/tablet/Cards/queen_spadesm.uasset
Content/Old/tablet/Cards/result/Cards0.uasset
Content/Old/tablet/Cards/result/Cards1.uasset
Content/Old/tablet/Numbers/0.uasset
Content/Old/tablet/Numbers/1.uasset
Content/Old/tablet/Numbers/2.uasset
Content/Old/tablet/Numbers/3.uasset
Content/Old/tablet/Numbers/4.uasset
Content/Old/tablet/Numbers/5.uasset
Content/Old/tablet/Numbers/6.uasset
Content/Old/tablet/Numbers/7.uasset
Content/Old/tablet/Numbers/8.uasset
Content/Old/tablet/Numbers/9.uasset
Content/Old/tablet/Numbers/left_parenthesis.uasset
Content/Old/tablet/Numbers/right_parenthesis.uasset
Content/Old/tablet/TSBubble/clubs_selection_down.uasset
Content/Old/tablet/TSBubble/clubs_selection_negative.uasset
Content/Old/tablet/TSBubble/clubs_selection_off.uasset
Content/Old/tablet/TSBubble/diamonds_selection_down.uasset
Content/Old/tablet/TSBubble/diamonds_selection_negative.uasset
Content/Old/tablet/TSBubble/diamonds_selection_off.uasset
Content/Old/tablet/TSBubble/hearts_selection_down.uasset
Content/Old/tablet/TSBubble/hearts_selection_negative.uasset
Content/Old/tablet/TSBubble/hearts_selection_off.uasset
Content/Old/tablet/TSBubble/result/Texture_1.uasset
Content/Old/tablet/TSBubble/result/TSBubble0.uasset
Content/Old/tablet/TSBubble/result/TSBubble1.uasset
Content/Old/tablet/TSBubble/result/TSBubble2.uasset
Content/Old/tablet/TSBubble/spades_selection_down.uasset
Content/Old/tablet/TSBubble/spades_selection_negative.uasset
Content/Old/tablet/TSBubble/spades_selection_off.uasset
Content/Old/tablet/TSBubble/trump_selection_bubble.uasset
Content/Old/Common/background_ipad.uasset
Content/Old/Common/BidBubble/east_bid.uasset
Content/Old/Common/BidBubble/north_bid.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/bid_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/bid_off.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/control_bid_bubble.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/minus_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/minus_off.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/pass_bid.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/pass_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/pass_off.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/plus_down.uasset
Content/Old/Common/BidBubble/PlayerBidBubble/plus_off.uasset
Content/Old/Common/BidBubble/south_bid.uasset
Content/Old/Common/BidBubble/west_bid.uasset
Content/Old/Common/Loading/load_landscape.uasset
Content/Old/Common/Loading/load_suit_rotation.uasset
Content/Old/Common/Loading/loading.uasset
Content/Old/Common/Loading/steele_logo_plate.uasset
Content/Old/Common/MainMenu/new_game_down.uasset
Content/Old/Common/MainMenu/new_game_off.uasset
Content/Old/Common/MainMenu/new_game_on.uasset
Content/Old/Common/MainMenu/options_down.uasset
Content/Old/Common/MainMenu/options_off.uasset
Content/Old/Common/MainMenu/options_on.uasset
Content/Old/Common/MainMenu/resume_down.uasset
Content/Old/Common/MainMenu/resume_off.uasset
Content/Old/Common/MainMenu/resume_on.uasset
Content/Old/Common/MeldBubble/east_meld.uasset
Content/Old/Common/MeldBubble/north_meld.uasset
Content/Old/Common/MeldBubble/south_meld.uasset
Content/Old/Common/MeldBubble/west_meld.uasset
Content/Old/Common/menu_ipad_down.uasset
Content/Old/Common/menu_ipad_off.uasset
Content/Old/Common/Numbers/0.uasset
Content/Old/Common/Numbers/1.uasset
Content/Old/Common/Numbers/2.uasset
Content/Old/Common/Numbers/3.uasset
Content/Old/Common/Numbers/4.uasset
Content/Old/Common/Numbers/5.uasset
Content/Old/Common/Numbers/6.uasset
Content/Old/Common/Numbers/7.uasset
Content/Old/Common/Numbers/8.uasset
Content/Old/Common/Numbers/9.uasset
Content/Old/Common/Numbers/left_parenthesis.uasset
Content/Old/Common/Numbers/right_parenthesis.uasset
Content/Old/Common/suit_rotation.uasset
Content/Old/Common/TrumpSelectBubble/clubs_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/clubs_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/clubs_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/diamonds_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/diamonds_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/diamonds_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/hearts_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/hearts_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/hearts_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/spades_selection_down.uasset
Content/Old/Common/TrumpSelectBubble/spades_selection_negative.uasset
Content/Old/Common/TrumpSelectBubble/spades_selection_off.uasset
Content/Old/Common/TrumpSelectBubble/trump_selection_bubble.uasset
Content/Old/tablet/Background/background_droid.uasset
Content/Old/tablet/Background/background_fire.uasset
Content/Old/tablet/Background/background_ipad.uasset
Content/Old/tablet/Background/menu_droid_down.uasset
Content/Old/tablet/Background/menu_droid_off.uasset
Content/Old/tablet/Background/menu_fire_down.uasset
Content/Old/tablet/Background/menu_fire_off.uasset
Content/Old/tablet/Background/menu_ipad_down.uasset
Content/Old/tablet/Background/menu_ipad_off.uasset
Content/Old/tablet/Background/suit_rotation.uasset
Content/Old/tablet/BCBubble/bid_down.uasset
Content/Old/tablet/BCBubble/bid_off.uasset
Content/Old/tablet/BCBubble/control_bid_bubble.uasset
Content/Old/tablet/BCBubble/minus_down.uasset
Content/Old/tablet/BCBubble/minus_off.uasset
Content/Old/tablet/BCBubble/pass_down.uasset
Content/Old/tablet/BCBubble/pass_off.uasset
Content/Old/tablet/BCBubble/plus_down.uasset
Content/Old/tablet/BCBubble/plus_off.uasset
Content/Old/tablet/BCBubble/result/Texture_0.uasset
Content/Old/tablet/BidBubble/east_bid.uasset
Content/Old/tablet/BidBubble/east_meld.uasset
Content/Old/tablet/BidBubble/north_bid.uasset
Content/Old/tablet/BidBubble/north_meld.uasset
Content/Old/tablet/BidBubble/pass_bid.uasset
Content/Old/tablet/BidBubble/south_bid.uasset
Content/Old/tablet/BidBubble/south_meld.uasset
Content/Old/tablet/BidBubble/west_bid.uasset
Content/Old/tablet/BidBubble/west_meld.uasset
Content/Old/tablet/Cards/10_clubs.uasset
Content/Old/tablet/Cards/10_clubsm.uasset
Content/Old/tablet/Cards/10_diamonds.uasset
Content/Old/tablet/Cards/10_diamondsm.uasset
Content/Old/tablet/Cards/10_hearts.uasset
Content/Old/tablet/Cards/10_heartsm.uasset
Content/Old/tablet/Cards/10_spades.uasset
Content/Old/tablet/Cards/10_spadesm.uasset
Content/Old/tablet/Cards/ace_clubs.uasset
Content/Old/tablet/Cards/ace_clubsm.uasset
Content/Old/tablet/Cards/ace_diamonds.uasset
Content/Old/tablet/Cards/ace_diamondsm.uasset
Content/Old/tablet/Cards/ace_hearts.uasset
Content/Old/tablet/Cards/ace_heartsm.uasset
Content/Old/tablet/Cards/ace_spades.uasset
Content/Old/tablet/Cards/ace_spadesm.uasset
Content/Old/tablet/Cards/card_back.uasset
Content/Old/tablet/Cards/jack_clubs.uasset
Content/Old/tablet/Cards/jack_clubsm.uasset
Content/Old/tablet/Cards/jack_diamonds.uasset
Content/Old/tablet/Cards/jack_diamondsm.uasset
Content/Old/tablet/Cards/jack_hearts.uasset
Content/Old/tablet/Cards/jack_heartsm.uasset
Content/Old/tablet/Cards/jack_spades.uasset
Content/Old/tablet/Cards/jack_spadesm.uasset
Content/Old/tablet/Cards/king_clubs.uasset
Content/Old/tablet/Cards/king_clubsm.uasset
Content/Old/tablet/Cards/king_diamonds.uasset
Content/Old/tablet/Cards/king_diamondsm.uasset
Content/Old/tablet/Cards/king_hearts.uasset
Content/Old/tablet/Cards/king_heartsm.uasset
Content/Old/tablet/Cards/king_spades.uasset
Content/Old/tablet/Cards/king_spadesm.uasset
Content/Old/tablet/Cards/queen_clubs.uasset
Content/Old/tablet/Cards/queen_clubsm.uasset
Content/Old/tablet/Cards/queen_diamonds.uasset
Content/Old/tablet/Cards/queen_diamondsm.uasset
Content/Old/tablet/Cards/queen_hearts.uasset
Content/Old/tablet/Cards/queen_heartsm.uasset
Content/Old/tablet/Cards/queen_spades.uasset
Content/Old/tablet/Cards/queen_spadesm.uasset
Content/Old/tablet/Cards/result/Cards0.uasset
Content/Old/tablet/Cards/result/Cards1.uasset
Content/Old/tablet/Numbers/0.uasset
Content/Old/tablet/Numbers/1.uasset
Content/Old/tablet/Numbers/2.uasset
Content/Old/tablet/Numbers/3.uasset
Content/Old/tablet/Numbers/4.uasset
Content/Old/tablet/Numbers/5.uasset
Content/Old/tablet/Numbers/6.uasset
Content/Old/tablet/Numbers/7.uasset
Content/Old/tablet/Numbers/8.uasset
Content/Old/tablet/Numbers/9.uasset
Content/Old/tablet/Numbers/left_parenthesis.uasset
Content/Old/tablet/Numbers/right_parenthesis.uasset
Content/Old/tablet/TSBubble/clubs_selection_down.uasset
Content/Old/tablet/TSBubble/clubs_selection_negative.uasset
Content/Old/tablet/TSBubble/clubs_selection_off.uasset
Content/Old/tablet/TSBubble/diamonds_selection_down.uasset
Content/Old/tablet/TSBubble/diamonds_selection_negative.uasset
Content/Old/tablet/TSBubble/diamonds_selection_off.uasset
Content/Old/tablet/TSBubble/hearts_selection_down.uasset
Content/Old/tablet/TSBubble/hearts_selection_negative.uasset
Content/Old/tablet/TSBubble/hearts_selection_off.uasset
Content/Old/tablet/TSBubble/result/Texture_1.uasset
Content/Old/tablet/TSBubble/result/TSBubble0.uasset
Content/Old/tablet/TSBubble/result/TSBubble1.uasset
Content/Old/tablet/TSBubble/result/TSBubble2.uasset
Content/Old/tablet/TSBubble/spades_selection_down.uasset
Content/Old/tablet/TSBubble/spades_selection_negative.uasset
Content/Old/tablet/TSBubble/spades_selection_off.uasset
Content/Old/tablet/TSBubble/trump_selection_bubble.uasset
/Intermediate
/Saved
/.vs

Content/Old/Common/BidBubble/west_bid_Brush.uasset
